pkgbase = python-zope-interface
	pkgdesc = Zope Interfaces for Python 3.x
	pkgver = 6.1
	pkgrel = 1
	url = https://pypi.python.org/pypi/zope.interface
	arch = x86_64
	license = ZPL
	checkdepends = python-zope-event
	checkdepends = python-zope-testing
	depends = python-setuptools
	source = https://pypi.io/packages/source/z/zope.interface/zope.interface-6.1.tar.gz
	sha512sums = 04305eaf98fb40269d417c6894a6e154340669b66033c50e130d58bf6166cabc0a8979e1ba80dda47cb2bc508dde01ea2175628f89cbfd44cc2f59ac3cdce2c0

pkgname = python-zope-interface
